@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@100&display=swap');

/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,a,button {
    font-family: "Montserray", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.text {
    font-size: 12px;
    font-weight: bold;
    color: #202124;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    z-index: 100000;
    background-color: var(--tertiary-color);
    border-end-end-radius: 30px;
    border-end-start-radius: 30px;
}

.titulo2 {
    color: #0088a9;
}

.titulo-categoria {
    width: 100%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

.titulo-categoria h2 {
    color: #fff;
}

.logo {
    cursor: pointer;
}
/* Navegación */
.nav_links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav_links li {
    display: inline-block;
    margin-right: 20px;
}

.nav_links li a {
    transition: color 0.3s ease;
    color: #edf0f1;
    text-decoration: none;
}

.nav_links li a:hover {
    color: #0088a9;
}

/* Footer e iframe */
footer {
    width: 100%;
    /* Agrega la altura que desees */
}

iframe {
    width: 100%;
}

:root {
    --primary-color: #24252A;
    --secondary-color: #313238;
    --tertiary-color: #202124;
}

body {
    background-color: var(--primary-color);
    font-family: "Poppins", sans-serif;
}

.search {
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: #edf0f1;
    font-family: inherit;
}

.search:focus {
    outline: 0;
    background-color: var(--secondary-color);
}

.search::placeholder {
    color: #edf0f1;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/********************* Pagination **********************/

.container,
.card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination {
    text-align: center;
    margin: 30px 30px 60px;
    user-select: none; /* Para navegadores compatibles, excepto Safari */
    -webkit-user-select: none; /* Para Safari 3+ y Safari en iOS 3+ */
}


.pagination li {
    display: inline-block;
    margin: 5px;
    box-shadow: 0 5px 25px rgba(1 1 1 /10%);
}

.pagination li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 45px;
}

.previous-page,
.next-page {
    background: #0088a9;
    width: 80px;
    border-radius: 45px;
    cursor: pointer;
    transition: 0.3s ease;
}

.previous-page:hover,
.next-page:hover {
    transform: translateX(-5px);
}

.current-page,
.dots {
    background: #ccc;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.active {
    background: #0088a9;
}

.disable {
    background: #ccc;
}

.simple-pagination ul {
    padding: 0;
    list-style: none;
    text-align: center;
    margin-left: 10px;
}

.simple-pagination li {
    display: inline-block;
    margin: 2px;
}

.simple-pagination li a,
.simple-pagination li span {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    color: #0088a9;
    border-radius: 4px;
    margin: 5px;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, .1), 0 2px 5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}

.simple-pagination li a:hover {
    background: #0088a9;
    color: #fff;
}

.simple-pagination .current {
    color: #fff;
    background-color: #0088a9;
    border-color: rgb(255, 255, 255);
    border: 1px solid;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
    background: #0088a9;
    border: none;
}

/********************* End Pagination **********************/
/* Navegador */
.navegador {
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper ul {
    width: 170%;
    height: 50px;
    display: flex;
    background-color: #0088a9;
    padding: 8px;
    border-radius: 20px;
    justify-content: center;
}

.wrapper ul li {
    list-style-type: none;
    line-height: 16px;
    text-align: center;
    font-size: 10px;
    font-weight: 300; /* Cambié el valor de font-weight a 300 */
    cursor: pointer;
    background-color: #313238;
    margin-right: 7%;
    border-radius: 20px;
    color: #edf0f1;
    padding: 10px;
}

.wrapper ul li.numb {
    height: 35px;
    width: 24px;
}

.wrapper ul li.bnt {
    line-height: 10px;
    font-size: 2px;
}

.wrapper ul li.bnt:hover {
    background-color: transparent;
    border: 1px solid #fff;
}

.wrapper ul li.active {
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 20px;
}

/* Listas de películas */
.lists__movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Propaganda */
.propaganda {
    float: right;
    width: 320px;
    height: 340px;
    display: flex;
    margin-right: 3%;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--primary-colo);
}

/* Lista de productos */
.products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Lista de categorías */
.category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1%;
}

.category_item {
    margin-right: 10px;
}

/* Mensaje de error */
.error-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
    width: 100%;
}

.error-message_container {
    text-align: center;
    color: white;
}

.error-message_container h1 {
    font-size: 60px;
}

.error-message_container p {
    font-size: 18px;
}

.error-message_container a {
    font-size: 18px;
    color: #0088a9;
}

/* Animaciones */
.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.bounce {
    animation-name: bounce;
}
/* ------------------------------------------------------------------ */
/* Contenedor principal */
.wrap,
.store-wrapper {
    width: 100%;
}

/* PRODUCTOS */
.products-list {
    width: 82%;
    display: flex;
    flex-wrap: wrap;
}

.products-list .product-item {
    margin-bottom: 25px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    transition: all 0.4s;
}

.products-list .product-item img {
    width: 100%;
}

/* Botón de Centro */
.botonCentro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Películas */
.movie {
    width: 150px;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 1);
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
    z-index: 1;
    max-height: 100%;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
    z-index: 1;
    max-height: 50px;
}

.movie-info h5 {
    margin-top: 0;
    z-index: 1;
    padding: 4px;
    font-size: 11px;
}

.movie-info span {
    background-color: var(--primary-colo);
    padding: 0.25rem 0.5rem;
    border-radius: 6px;
    font-weight: bold;
    z-index: 1;
}

.overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
    z-index: 1;
    text-align: center;
}

.movie:hover .overview {
    transform: translateY(0);
}

/* Botón 1 */
.boton1 {
    align-items: center;
    justify-content: center;
}



/*----------------------------------------------------*/


/* Ocultar elementos de la tabla */
#table_length,
#table_filter,
#table_info,
#table_paginate {
    display: none;
}

/* Estilos de la barra de búsqueda */
.content-search {
    width: 300px;
    height: 100vh;
    position: absolute;
    top: 67px;
    left: 67%;
    display: none;
    z-index: 10000;
    border-radius: 20px;
}

.content-search::-webkit-scrollbar {
    width: 7px;
}

/* Estilos de la tabla de resultados */
.content-table {
    width: 300px;
    max-height: 200px;
    height: auto;
    background: var(--secondary-color);
    margin-left: 10px;
    border-radius: 6px;
    overflow-y: visible;
    overflow-x: hidden;
    z-index: 3;
}

.content-table::-webkit-scrollbar {
    width: 7px;
}

.content-table table {
    width: 100%;
}

/* Estilos de los elementos de la tabla */
.texte {
    color: #24252A;
}

tbody tr td {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    z-index: 10000;
}

tbody tr td :hover {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    z-index: 10000;
}

/* Estilo para el mensaje de "No se encontraron datos" */
.dataTables_empty {
    color: #eee;
}



/*--------------------------------------------------------------------------*/
/* Estilos para el pie de página */
.ifFooter {
    width: 100% !important;
    height: 80px;
    border: none;
}
/*--------------------------------------------------------------------------*/

/* Estilos para la barra de desplazamiento en elementos con la clase "movie" */
.movie::-webkit-scrollbar {
    width: 7px;
}

/* Estilos para los reproductores de video */
.players {
    width: 330px;
    height: 40px;
    position: absolute;
    margin-top: 20px;
    left: 15%;
    background: #0088a9;
    z-index: 10000;
    border-radius: 20px;
    display: none;
}

.players-fila {
    float: left;
    margin: 6px;
    color: #edf0f1;
}

/* Estilos para la sección de reproducción de video */
.play {
    width: 720;
    height: 450;
    position: static;
    margin-top: 40px;
    left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.play-2 {
    width: 100%;
    max-width: 100%;
    position: static;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.play-3 {
    max-width: 50%;
}

/*-------------------------------------------------*/
/* Estilos para los contenedores de contenido */
.conteiner-all {
    width: 100%;
    max-width: 1000px;
    background: var(--secondary-color);
    border-radius: 10px;
    justify-content: center;
    margin-top: 1%;
}

.conteiner-all img {
    width: 350px;
    float: left;
    margin-left: 8px;
    margin-right: 30px;
    margin-block-end: 1%;
    border-radius: 10px;
    box-shadow: 0 0 30px;
}

.conteiner-all p {
    justify-content: center;
    color: #edf0f1;
    margin: 8px;
    text-align: justify;
}

.conteiner-all h1 {
    color: #edf0f1;
    margin: 8px;
}

.conteiner-all li {
    margin: 9px;
}

/* Estilos para otro tipo de contenedor */
.conteiner-all-2 {
    width: 100%;
    max-width: 1000px;
    background: var(--secondary-color);
    border-radius: 10px;
    justify-content: center;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.conteiner-all-2 p {
    justify-content: center;
    margin: 8px;
    text-align: justify;
    color: #202124;
}

.conteiner-all-2 h1 {
    color: #edf0f1;
    margin: 8px;
}

/* Otro tipo de contenedor */
.conteiner-all-3 {
    width: 100%;
    max-width: 1000px;
    background: var(--secondary-color);
    border-radius: 10px;
    justify-content: left;
    margin-top: 6px;
    display: block;
    flex-wrap: wrap;
    box-shadow: 0px 1px 44px rgba(0, 0, 0, 0.16);
}

.conteiner-all-3 img {
    margin-top: 1%;
}

.conteiner-all-3 p {
    justify-content: center;
    margin: 8px;
    text-align: justify;
    color: #202124;
}

.conteiner-all-3 a {
    justify-content: center;
    color: #edf0f1;
    margin-left: 8px;
    text-align: justify;
}

.conteiner-all-3 h1 {
    color: #edf0f1;
    margin: 8px;
}


/*--------------------------------------------------------------------------*/


/*::::::::: Pie de Página */

.pie-pagina {
    width: 100%;
    height: 300px;
    background: var(--tertiary-color);
    margin-top: 2%;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
    text-align: justify;
}

.pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 1500px) {
    .pie-pagina {
        height: 100%;
    }
}

@media screen and (max-width: 800px) {
    header {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        right: auto;
    }

    .search {
        margin-top: 2%;
    }

    .bx-menu {
        margin-top: 2%;
    }

    .play-3 {
        max-width: 90%;
    }

    .content-search {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        left: 0;
        display: none;
        z-index: 10000;
        border-radius: 20px;
    }

    .nav_links.nav_links.open {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        background-color: var(--tertiary-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all 0.5s ease;
        z-index: 2;
    }

    .pie-pagina .grupo-1 {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

@media screen and (max-width: 363px) {
    /* Ajustes específicos para resoluciones menores de 363px */
    /* Agrega tus reglas CSS aquí para acomodar la chiquita */
    /* Por ejemplo, puedes ocultar elementos o cambiar estilos para mantener el diseño */
}

@media screen and (max-width: 2000px) {
    .propaganda {
        width: 1px;
        height: 1px;
        display: none;
    }
}

@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: 0.2s;
    }

    .nav_links a {
        padding: 5px 0px;
        margin: 0px 20px;
    }
}

.bx-menu {
    display: none;
}

@media (max-width: 1090px) {
    .bx-menu {
        display: block;
    }

    .nav_links {
        position: absolute;
        top: 10%;
        right: 100%;
        width: 210px;
        height: 30vh;
        background-color: var(--tertiary-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all 0.5s ease;
        z-index: 2;
    }

    .nav_links a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all 0.5s ease;
    }

    .nav_links a:hover {
        color: #fff;
        transform: translateY(5px);
    }

    .nav_links a:active {
        color: #fff;
    }

    .nav_links.open {
        right: 2%;
    }
}

.disclaimer {
    display: none;
}



/*--------------------------------------------------------------------------*/

/* Sección destacados */
.destacados {
    width: 100%;
    float: left;
}

/* Margen para el pie de página */
.margefoter {
    margin-top: 50px;
}

/* Estilos comunes para elementos con clases .CapNv y .boton1 */
.CapNv,
.boton1 {
    width: 100%;
    position: static;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilos específicos para .CapNv */
.CapNv {
    /* background-color: #2e3437; */
    margin-top: 15px;
    /* margin-left: -15.1%; */
}

/* Estilos específicos para .boton1 */
.boton1 {
    background-color: var(--tertiary-color);
    margin-top: 20px;
    left: 10%;
}

/* Estilos para elementos con clase .saga */
.saga {
    width: 100%;
    justify-content: center;
    display: flex;
}



.bonto-1 {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.bonto-1:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.bonto-1 {
    font-family: "Montserray", sans-serif;
    font-weight: 500;
    font-size: 16;
    color: #edf0f1;
    text-decoration: none;
}

.bonto-2 {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.bonto-2:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.bonto-2 {
    font-family: "Montserray", sans-serif;
    font-weight: 500;
    font-size: 16;
    color: #edf0f1;
    text-decoration: none;
}

.bonto-3 {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-bottom-right-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.bonto-3:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.bonto-3 {
    font-family: "Montserray", sans-serif;
    font-weight: 500;
    font-size: 16;
    color: #edf0f1;
    text-decoration: none;
}

.bonto-4 {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-bottom-left-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.bonto-4:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.bonto-4 {
    font-family: "Montserray", sans-serif;
    font-weight: 500;
    font-size: 16;
    color: #edf0f1;
    text-decoration: none;
}

Atributo style {
    display: none;
}

.red-social-img {
    height: 30px;
    padding: 3px;
}

img[alt="www.000webhost.com"] {
    display: none;
  }




.conteiner-all-2 .capitulos .conteiner-all-3 .destacados {
    align-items: center;
    text-align: center;


}

/* Estilo para el enlace dentro del span */
.conteiner-all-2 .capitulos .conteiner-all-3 .destacados a.cap {
    display: inline-block; /* Hacer que el enlace sea un bloque en línea */
    margin: 0 auto; /* Centrar el bloque en línea horizontalmente */
}


/* Estilo para la temporada */
.conteiner-all-2 .temporada {
    width: 100%;
    align-items: center;
    text-align: center; /* Centrar el texto horizontalmente */
    font-size: 24px; /* Tamaño de fuente del título de la temporada */
    margin-bottom: 10px; /* Espacio entre el título de la temporada y los elementos destacados */
}

/* Estilo para los elementos destacados */
.conteiner-all-2 .destacados {
    float: left; /* Colocar elementos destacados a la izquierda */
    width: 30%; /* Ancho de los elementos destacados */
    align-items: center;
    margin-right: 2%; /* Margen derecho para separar de los capítulos */
    margin-bottom: 10px; /* Espacio entre elementos destacados */
}

/* Estilo para los capítulos */
.capitulos {
    float: left; /* Colocar capítulos a la izquierda */
    width: 68%; /* Ancho de los capítulos (deja un 2% para el margen derecho) */
    margin-bottom: 10px; /* Espacio entre capítulos */
    align-items: center;
}

/* Limpiar flotadores */
.clear {
    clear: both;
}



